/* Column width as a percentage */
.input-field--scope {
  width: 12%;
}

.input-field--day {
  width: 6%;
}

.input-field--month {
  width: 12%;
}

.input-field--year {
  width: 9%;
}

.input-field--amount {
  width: 9%;
}
.input-field--category {
  width: 28%;
}

.input-field--additionalnotes {
  width: auto; 
}